::selection {
  background: #f3ff99;
}

body {
	background-color: #F3F4F9;
	font-family: "Montserrat", Helvetica, Arial, sans-serif; 
	font-size: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	position: relative;
}

a:visited {
	color: #222;
}

/* HEADER */

.header a:after, .footer:after {
	content: "";
	position: absolute;
	top: 12px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50%;
	z-index: -1;
	background: #f3ff99;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.header a:hover:after, .footer:hover:after {
	top: 6px;
	right: 0;
	bottom: 0;
	left: 0;
}

::selection {
  background: #f3ff99;
}

.header {
	margin: 24px 40px 0;
	position: relative;
	font-weight: 500;
	font-size: 14px;
}

.header ul {
	margin: 0;
	padding: 0;
}

.header ul li {
	list-style-type: none;
}

.header a {
	color: #222;
}

.links {
	position: absolute;
	left: 0;
}

.links li {
	margin-right: 40px;
	float: left;
}

.song {
	display: none;
}

.name {
	text-align: center;
}




/* MAIN */

.main {
	margin: 0 auto;
	padding: 64px 96px 0 96px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.main video {
	display: block;
	margin: 32px auto;
}

.main h1 {
	max-width: 620px;
	margin: 0 auto;
	text-align: center;
	font-family: "Lora", Georgia, serif;

	font-size: 1.5rem;
	line-height: 2rem;
	padding-top: 1rem;
	padding-bottom: 4rem;
	margin-top: -1px;
	margin-bottom: -2px;
}

.main h2 {
	max-width: 620px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;

	font-size: 1.25rem;
	line-height: 1.5rem;
	padding-top: 2.5rem;
	padding-bottom: 1.5rem;
}

.main h3 {
	max-width: 620px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;

	font-size: 1rem;
	line-height: 1.5rem;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}

.main img {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 620px;

	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.main p, .main ul {
	max-width: 620px;
	margin: 0px auto 0px;
}

.main p {
	font-family: 'Lora', Georgia, serif;

	font-size: 1.125rem;
	line-height: 1.75rem;
	padding-bottom: 1.5rem;
}

.main p a, .main ul a {
	color: #222;
	box-shadow: inset 0 -0.4em #f3ff99;
	transition: box-shadow 0.3s ease-in-out;
}

.main p a:hover, .main ul a :hover {
	box-shadow: inset 0 -2em #f3ff99;
}

img.magnify {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

img.magnified {
	max-width: 100%;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}

.mocks img {
	max-width: 300px;
	margin: 0 auto;
	display: block;
	padding-bottom: 1rem;
	margin-bottom: 32px;
}

.small {
	max-width: 350px;
	margin: 0 auto;
}

.footer-container {
	margin-top: 2.5em;
	margin-bottom: 0.5em;
	text-align: center;
	font-weight: 400;
	line-height: 260%;
	font-size: 20px;
}

.footer:before {
	content: "↪ corbinmuraro.com";
	position: absolute;
	color: #333;
	font-size: 10px;
	white-space: nowrap;
	opacity: 0.5;
	top: -27px;
	left: -24px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 700px) {
	.header {
		margin: 24px 32px 0;
	}
		
	.links li {
		margin-right: 24px;
	}

	.song {
		display: none !important;
	}

	.links {
		position: absolute;
		right: 0;
		left: auto;
	}

	.name {
		position: absolute;
		left: 0;
	}
	
	.main {
		padding: 56px 40px 0 40px;		
	}

	video {
		width: 95%;
	}
}

@media (max-width: 500px) {
	img {
		width: 80%;
	}
}