body {
	background-color: #151E1D;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color: #474747;
	overflow: hidden;
	margin: 0;
}


.container {
	margin: 20px 40px;
	display: inline-block;
}

.header h1 {
	font-size: 20px;
	font-weight: 500;
	line-height: 160%;
}

a {
	color: inherit;
}

ul {
	padding: 0;
	line-height: 260%;
}

li {
	list-style-type: none;
}

.work {
	font-size: 16px;
	margin: 50px 0 0 0;
}

.footer {
	position: absolute;
	font-size: 14px;
	bottom: 0;
}

.footer ul {
	list-style: none;
}

.footer li {
	display: inline-block;
	margin-right: 10px;
}

.footer a {
	text-decoration: none;
}

@media (min-width: 750px) {
	.header h1 {
		font-size: 24px;
	}

	.work {
		font-size: 18px;
	}

	.footer {
		font-size: 16px;
	}

}

@media (min-width: 1200px) {
	.header h1 {
		font-size: 2vw;
	}

	.work {
		font-size: 1.3vw;
	}

	.footer {
		font-size: 1vw;
	}
}
