@font-face {
	font-family: ProximaNovaRegular;
	src: url(../fonts/proxima-nova-regular.otf);
}

@font-face {
	font-family: ProximaNovaSemibold;
	src: url(../fonts/proxima-nova-semibold.otf);
}

@font-face {
	font-family: ProximaNovaExtraboldItalic;
	src: url(../fonts/proxima-nova-extrabold-italic.otf);
}

::selection {
  background: #F7FFB1;
}

body {
	background-color: #F3F4F9;
	font-family: "ProximaNovaSemibold", 'HelveticaNeue', Helvetica, Arial, sans-serif; 
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	position: relative;
}

video {
	opacity: 0.3;
}

.header a:after {
	content: "";
	position: absolute;
	top: 12px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50%;
	z-index: -1;
	background: #F7FFB1;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.header a:hover:after {
	top: 6px;
	right: 0;
	bottom: 0;
	left: 0;
}

.header {
	margin: 24px 40px 0;
}

.header ul {
	margin: 0;
	padding: 0;
	line-height: 260%;
}

ul.links {
	float: left;
}

.header li {
	list-style-type: none;
	float: left;
}

ul.links li {
	margin-right: 40px;
}

.header a {
	display: inline-block;
	color: #222;
}

.header .song {
	display: none;
}

.main {
	margin: 0 auto;
	padding: 102px 96px 0 96px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

h1 a {
	color: #000;
}

h1 {
	max-width: 620px;
	margin: 0 auto 40px;
	position: relative;
	font-family: ProximaNovaExtraboldItalic;
	font-size: 40px;
}

h1:after {
	content: "";
	position: absolute;
	top: 20px;	
	right: 20px;
	bottom: 0;
	left: -20px;
	height: 100%;
	z-index: -1;
	background: #F7FFB1;
}

h2 {
	max-width: 620px;
	margin: 48px auto 12px;
	font-family: 'Open Sans', serif;
	font-size: 26px;
}

h3 {
	max-width: 620px;
	margin: 16px auto 16px;
	font-family: 'Open Sans', serif;
	font-size: 18px;
	font-weight: 700;
}

p, ul {
	max-width: 620px;	
	margin: 0 auto;
}

.main p, .main ul {
	font-size: 16px;
	line-height: 32px;
	font-family: 'Open Sans', serif;
	margin-bottom: 28px;
}

.main p a, .main ul a {
	color: #222;
	background: #F4FFAB;
}

.critique img {
	margin: 0 auto;
	display: block;
	margin-bottom: 32px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

.critique img.magnify {
	max-width: 420px;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.critique img.magnified {
	max-width: 90%;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}


.mocks img {
	max-width: 300px;
	margin: 0 auto;
	display: block;
	margin-bottom: 32px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05);
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 700px) {
	ul.links li {
		margin-right: 24px;
	}
	
	.main {
		padding: 56px 40px 0 40px;		
	}
}

@media (max-width: 500px) {
	img {
		width: 80%;
	}
}