.App {
  color: #000207;
  padding: 3rem;
  max-width: 36rem;
}

.App p {
  margin: 0 0 0.9rem;
}

a {
  color: #000207;
  text-decoration: none;
}

a.custom {
  text-decoration: none;
  position: relative;
  text-shadow: -1px -1px 0 #fefefe, 1px -1px 0 #fefefe, -1px 1px 0 #fefefe,
    1px 1px 0 #fefefe;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 2px,
    #000207 2px,
    #000207 3px,
    rgba(0, 0, 0, 0) 3px
  );
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  a.custom {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 2px,
      #000207 2px,
      #000207 3px,
      rgba(0, 0, 0, 0) 3px
    );
  }
}

::selection {
  /* text-shadow: none;
  background: #ffff6e; */
}
