body {
/*	background-color: #151E1D;
*/	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color: #ffffff;

}

.container {
	margin: 3em;
}

h1 {
	margin: .5em;
	font-weight: 500;
	line-height: 140%;
}

a {
	color: inherit;
}

ul {
	margin: 3em 1em;
	padding: 0;
	line-height: 200%;
}

li {
	list-style-type: none;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* MEDIA QUERIES */

/*
@media screen and (max-width: 650px) {
	body {
		background-color: blue;
	}
}*/