<div id="header">
	<a id="logo" href="/">Corbin Muraro</a>
	<div id="nav-container" tabindex="0">
		<a id="nav-button" href="#">Portfolio</a>
		<ul id="nav-menu">
			<li><a href="/portfolio/festivalsupply">Festival Supply</a></li>
			<li><a href="/portfolio/assetcamp">AssetCamp</a></li>
			<li><a href="/portfolio/nextdoor">Nextdoor Redesign</a></li>
			<li><a href="/portfolio/sqs">Simple Questions Search</a></li>
			<li><a href="/portfolio/screenkraut">Screenkraut</a></li>
			<li><a href="/portfolio/cousteau">Cousteau</a></li>
			<li><a href="/portfolio/prime">Prime Boxer Briefs</a></li>
			<li><a href="/portfolio/2percentvr">2% VR</a></li>
		</ul>
	</div>
	<a id="contact" href="mailto:corbinmuraro@gmail.com">Email</a>
	<a id="blog" href="/blog">Blog</a>
</div>