@font-face {
  font-family: "Whyte";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Whyte Regular"), url(../fonts/Whyte\ Regular.woff) format("woff");
}

@font-face {
  font-family: "Whyte";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Whyte Medium"), url(../fonts/Whyte\ Medium.woff) format("woff");
}
